body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  height: 90px;
  background: #020203;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.vertical-nav-bar {
  position: absolute;
  width: 90px;
  min-height:100vh;
  left: 0px;
  top: 0px;
  background: #020203;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-main {
  max-width: 1200px;
  height: calc(100vh - 90px);
  margin: 4rem auto;
  /* to offset vertical nav bar */
  padding-left: 90px; 
}

.dashboard {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.charts {
  width: 75%;
}

.square-charts {
  margin-top: 30px;
  height: 45%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.card--square {
  height: 200px;
}

.cards-gallery {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.indicator-card {
  padding: 32px;
  display: flex;
  gap: 24px;
  align-content: space-around
}

.card {
  background: #FBFBFB;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
}

.card--black {
  color: white;
  background: #282D30;
}

.card--red {
  color: white;
  background: #FF0000;
}